@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1199.98px) {
  .section__title {
    font-size: 42px;
    line-height: 1.16;
  }
}

.content__box {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1199.98px) {
  .content__box {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 479.98px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 767.98px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1199.98px) {
  .container {
    width: 1200px;
  }
}

.button, .modal__btn-send, .button__mailing, .hero__button {
  border-radius: 4px;
  border: 0px;
  color: #FFFFFF;
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button:hover, .modal__btn-send:hover, .button__mailing:hover, .hero__button:hover, .button:focus, .modal__btn-send:focus, .button__mailing:focus, .hero__button:focus {
  background-color: #188CE8;
}

.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.header__inner {
  display: none;
}
@media screen and (min-width: 767.98px) {
  .header__inner {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
}

.mobile-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 767.98px) {
  .mobile-header {
    display: none;
  }
}

.logo {
  color: #2196F3;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
}
.logo--black {
  color: #000000;
}

@media screen and (min-width: 767.98px) {
  .header__nav {
    display: flex;
    font-weight: 500;
    letter-spacing: 0.02em;
    gap: 50px;
  }
}

.nav__item:not(:first-child) {
  margin-top: 35px;
}
@media screen and (min-width: 767.98px) {
  .nav__item:not(:first-child) {
    margin-top: 0;
  }
}

.nav__link {
  color: #212121;
  font-size: 40px;
  line-height: 1.17;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:focus, .nav__link:hover {
  color: #2196F3;
}
@media screen and (min-width: 767.98px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 767.98px) {
  .current::after {
    content: "";
    display: flex;
    position: relative;
    top: 31px;
    background-color: #2196F3;
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}

.header__contacts {
  margin-top: 302px;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}
@media screen and (min-width: 767.98px) {
  .header__contacts {
    margin-top: 0;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1199.98px) {
  .header__contacts {
    display: flex;
  }
}

@media screen and (min-width: 767.98px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1199.98px) {
  .contacts__item:first-child {
    margin-bottom: 0;
  }
}

.contacts-phone {
  color: #2196F3;
  font-size: 34px;
  line-height: 1.17;
}
@media screen and (min-width: 767.98px) {
  .contacts-phone {
    color: #757575;
    font-size: 12px;
    line-height: 1.16;
  }
}

.contacts-mail {
  margin-top: 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #757575;
  line-height: 1.16;
  font-size: 24px;
}
@media screen and (min-width: 767.98px) {
  .contacts-mail {
    margin-top: 0;
    font-size: 12px;
  }
}

.contact__link:hover, .contact__link:focus {
  color: #2196F3;
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-button {
  display: inline-flex;
  z-index: 3;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu-button:hover .menu-open, .menu-button:focus .menu-open {
  fill: #2196F3;
}
.menu-button .menu-close {
  display: none;
}
.menu-button.is-open .menu-close {
  display: block;
}
.menu-button.is-open .menu-open {
  display: none;
}
@media screen and (min-width: 767.98px) {
  .menu-button {
    display: none;
  }
}

.mobile__menu {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0%;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  text-align: start;
}
.mobile__menu.is-open {
  display: block;
}
@media screen and (min-width: 767.98px) {
  .mobile__menu.is-open {
    display: none;
  }
}

.menu__inner {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mobile__social-list {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
}

.mobile__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile__social-link {
  color: #2196F3;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
}
@media screen and (min-width: 1199.98px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero {
  text-align: center;
  padding-bottom: 118px;
  padding-top: 118px;
}
@media screen and (min-width: 1199.98px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.hero__button {
  padding: 10px 32px;
  min-width: 216px;
}

.hero-overlay {
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-img_480.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2) {
  .hero-overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img_x2/background-img_480@x2.jpg");
  }
}
@media screen and (min-width: 767.98px) {
  .hero-overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-img_768.jpg");
  }
}
@media screen and (min-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (min-resolution: 192dpi), screen and (min-width: 767.98px) and (min-resolution: 2dppx), screen and (min-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767.98px) and (-o-min-device-pixel-ratio: 2) {
  .hero-overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img_x2/background-img_768@x2.jpg");
  }
}
@media screen and (min-width: 1199.98px) {
  .hero-overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-img_1600.jpg");
  }
}
@media screen and (min-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 1199.98px) and (min-resolution: 2dppx), screen and (min-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1199.98px) and (-o-min-device-pixel-ratio: 2) {
  .hero-overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img_x2/background-img_1600@x2.jpg");
  }
}
.advantages {
  padding-top: 60px;
}
@media screen and (min-width: 1199.98px) {
  .advantages {
    padding-top: 94px;
  }
}

@media screen and (min-width: 767.98px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.advantages__item {
  width: auto;
  text-align: start;
}
@media screen and (min-width: 767.98px) {
  .advantages__item {
    width: 354px;
  }
}
@media screen and (min-width: 1199.98px) {
  .advantages__item {
    width: 270px;
  }
}

.advantages__title {
  margin-top: 30px;
  margin-bottom: 0px;
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
}

.advantages__subtitle {
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 0;
}

.advantages__svg {
  width: 70px;
  height: 70px;
}

.advantages__box {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.activity {
  display: none;
}
@media screen and (min-width: 1199.98px) {
  .activity {
    display: flex;
  }
}

.activity__list {
  height: 294px;
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.activity__subtitle {
  padding-top: 27px;
  padding-bottom: 27px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  bottom: 73px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.team {
  background-color: #F5F4FA;
}

.team__list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1199.98px) {
  .team__list {
    margin-top: 50px;
  }
}

.team__item {
  width: auto;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  width: 100%;
  height: 460px;
}
@media screen and (min-width: 767.98px) {
  .team__img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1199.98px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}

.team__inner {
  padding-top: 30px;
}

.team__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

.social__list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
  cursor: pointer;
}
.social__link:hover .social__logo, .social__link:focus .social__logo {
  fill: #FFFFFF;
}

.social__logo {
  fill: #AFB1B8;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196F3;
}

.clients__icon {
  fill: #AFB1B8;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer__inner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 767.98px) {
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.footer__inner div:nth-child(2n) {
  break-after: always;
}
@media screen and (min-width: 1199.98px) {
  .footer__inner {
    flex-wrap: nowrap;
    text-align: start;
    align-items: baseline;
  }
}

.footer__item {
  margin-bottom: 60px;
}
@media screen and (min-width: 1199.98px) {
  .footer__item {
    margin: 0;
  }
}

.logo--white {
  color: #FFFFFF;
}

.footer__adress {
  margin-top: 20px;
}

.adress__item {
  margin-top: 9px;
}

.adress__location {
  color: #FFFFFF;
  line-height: 1.71;
  font-style: normal;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__location:hover, .adress__location:focus {
  color: #2196F3;
}

.adress__contact {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  font-style: normal;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__contact:hover, .adress__contact:focus {
  color: #2196F3;
}

.footer__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__social-list {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.footer__social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: #2196F3;
  cursor: pointer;
}
.footer__social-link:hover .footer__social-logo, .footer__social-link:focus .footer__social-logo {
  fill: #FFFFFF;
}

.footer__social-logo {
  fill: #FFFFFF;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail-input {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 767.98px) {
  .footer__mail-input {
    width: 65%;
  }
}
@media screen and (min-width: 1199.98px) {
  .footer__mail-input {
    width: auto;
    margin: 0;
  }
}

.mail__input-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 1199.98px) {
  .mail__inner {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.mail__form {
  margin-bottom: 20px;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1199.98px) {
  .mail__form {
    margin-bottom: 0;
    width: 358px;
  }
}

.mail__form::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.button__mailing {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
}
@media screen and (min-width: 1199.98px) {
  .button__mailing {
    margin: 0;
  }
}

.mail__svg {
  margin-left: 10px;
  fill: #FFFFFF;
}

.backdrop {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition-duration: 2300ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95.1%;
  max-width: 450px;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: inherit;
  transition-duration: 2300ms;
}
@media screen and (min-width: 767.98px) {
  .modal {
    top: 50%;
    left: 50%;
    width: 100%;
  }
}
@media screen and (min-width: 1199.98px) {
  .modal {
    min-width: 528px;
  }
}

.modal__close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal__close:hover, .modal__close:focus {
  fill: #2196F3;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.modal__form-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__form-item:not(:first-child) {
  margin-top: 10px;
}

.modal__title {
  margin-bottom: 2px;
  margin-top: 0;
  width: 370px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
}
@media screen and (min-width: 1199.98px) {
  .modal__title {
    width: auto;
  }
}

.modal__form-title {
  margin-bottom: 4px;
  margin-top: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__form-subtitle {
  padding-bottom: 4px;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__icon {
  position: absolute;
  top: 15px;
  left: 15px;
}

.modal__input-area {
  position: relative;
  width: auto;
}

.modal__label {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 11px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 398px) {
  .modal__label {
    width: 370px;
  }
}
@media screen and (min-width: 1199.98px) {
  .modal__label {
    width: 448px;
  }
}

.modal__label:focus {
  border-color: #2196F3;
}

.modal__label:focus + .modal__icon {
  fill: #2196F3;
}

.modal__feedback-label {
  padding: 12px 16px;
  min-width: 222px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
}
.modal__feedback-label:hover, .modal__feedback-label:focus {
  border-color: #2196F3;
}
@media screen and (min-width: 398px) {
  .modal__feedback-label {
    width: 370px;
  }
}
@media screen and (min-width: 1199.98px) {
  .modal__feedback-label {
    width: 448px;
  }
}

.modal__feedback-label::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__mailing {
  margin-top: 10px;
}

.modal__checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal__apply-checkbox {
  width: 0px;
  height: 0px;
  opacity: 0;
}

.modal__apply-svg {
  fill: #FFFFFF;
}

.modal__apply-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 2px;
  pointer-events: none;
}

.modal__apply-checkbox:checked + .modal__apply-bg {
  background-color: #2196F3;
  border-color: transparent;
}

.modal__checkbox-title {
  font-size: 12px;
  line-height: 1.16;
  width: 150px;
}
@media screen and (min-width: 398px) {
  .modal__checkbox-title {
    width: auto;
  }
}
@media screen and (min-width: 1199.98px) {
  .modal__checkbox-title {
    font-size: 14px;
    line-height: 1.71;
    width: auto;
  }
}

.modal__mailing-rules {
  color: #2196F3;
  text-decoration: underline;
  cursor: pointer;
}

.modal__btn-send {
  width: 200px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
}

.main {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1199.98px) {
  .main {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter__list {
  margin-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 340px) {
  .filter__list li:nth-child(3n) {
    break-after: always;
  }
}
@media screen and (min-width: 767.98px) {
  .filter__list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1199.98px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.filter__button {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  color: #212121;
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

@media screen and (min-width: 767.98px) {
  .category__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.caregory__wrapper {
  position: relative;
  overflow: hidden;
}

.category__item {
  max-width: 100%;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 767.98px) {
  .category__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1199.98px) {
  .category__item {
    max-width: 370px;
  }
}
.category__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.category__item:hover .caregory__overlay {
  transform: translateY(0);
}

.categroy__img {
  display: block;
  width: 100%;
}

.caregory__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #2196F3;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.category__overlay-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}

.category__border {
  border: 1px solid #EEEEEE;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.category__border-title {
  margin: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06em;
}

.category__border-subtitle {
  margin-top: 4px;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}/*# sourceMappingURL=main.css.map */