.backdrop {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: $backdrop-overlay;    
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition-duration: 1000ms;
    
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95.1%;
    max-width: 450px;
    transform: translate(-50%, -50%);
    background-color: $primary-white-color;
    box-shadow: $moadal-shadow;
    border-radius: 4px;
    opacity: inherit;
    transition-duration: 2300ms;
    @media screen and (min-width:$tablet) {
    top: 50%;
    left: 50%;
    width: 100%;
    }
    @media screen and (min-width:$desktop){
    min-width: 528px;
    }
}

@import "./elements/button-modal-close";
@import "./elements/modal-form";
@import "./elements/modal-inputs";
@import "./elements/modal-checkbox-mailing";
@import "./elements/button-modal-send";

